{% extends 'base.html' %}

{% block content %}

<div>
    <h2>Board List</h2>
    <hr/>
    <div>
        <table class="table">
            <thead class="bg-dark text-light">
                <tr>
                    <th>제목</th>
                    <th>작성일자</th>
                </tr>
            </thead>
            <tbody>
                {% if articles %}
                    {% autoescape off %}
                        {% for article in articles %}
                        <tr>
                            <td>
                                <a href="/detail/{{article.id}}">
                                    {{article.title}}
                                </a>
                            </td>
                            <td>{{article.written_date}}</td>
                        </tr>
                        {% endfor %}
                    {% endautoescape %}
                {% else %}
                        <tr>
                            <td colspan="100">게시물이 없습니다.</td>
                        </tr>
                {% endif %}
                
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <a href="{% url 'article create' %}" class="btn btn-primary">새로 작성하기</a>
        </div>
    </div>
</div>

{% endblock content %}